example/**
!example/thesis.tex
*.aux
/.ob-jupyter/
/.dir-locals.el
/main.bbl
/main.bcf
/main.blg
/main.idx
/main.lof
/main.log
/main.lol
/main.lop
/main.los
/main.lot
/main.out
/main.run.xml
/main.toc
/presentation.bbl
